/* imports  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/***** Start Global CSS *****/
/* base rule  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}

h3 {
  font-size: 1.7rem;
  font-weight: 400;
}

p {
  color: var(--para);
  font-size: 1.7rem;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p,
a,
label,
li {
  color: var(--para);
  font-size: 1.7rem;
}
img {
  display: inline-block;
}
input,
textarea {
  width: 100%;
  padding: 1.4rem 1.8rem;
  font-size: 1.7rem;
  border: 0.1rem solid #c9c9c9;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

  &:focus-visible {
    outline: 0.1rem solid var(--helper);
    box-shadow: var(--shadow);
  }
}
/* theme  */
:root {
  --white-color: #fff;
  --black-color: #000;
  --heading: rgb(0 10 45);
  --menu-color: #212529;
  --para: #777777;
  --para-tint: #e4e4e4;
  --helper: #8490ff;
  --helper-tint: #f3f4ff;
  --font-color: #ced3ff;
  --footer-para: #adadad;
  --bg: rgb(249 249 255);
  --bg-overlay: #3e64ff;
  --bg-support: rgb(233 236 239);
  --bg-icon: rgba(144, 172, 209, 0.2);
  --gradient: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
  --gradient-support: -webkit-linear-gradient(
    0deg,
    rgb(132 144 255) 0%,
    rgb(98 189 252) 100%
  );

  --gradient-2: linear-gradient(to bottom, rgb(132 144 255), rgb(89, 172, 232));
  --shadow: 0px 0px 20px 0px rgba(132, 144, 255, 0.2);
  --shadow-support: 0 2rem 2rem 0 rgba(132, 144, 255, 0.3);
}

/* layout  */
.section {
  width: 100%;
}
.container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 8.4rem 6.4rem;
}
.grid {
  display: grid;
}
.grid-two--cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid-four--cols {
  grid-template-columns: repeat(4, 1fr);
}
/* module / reusable  */
:is(
    .section-services,
    .section-portfolio,
    .section-testimonial,
    .section-contact
  ) {
  & .container:first-child {
    /* padding-bottom: 4rem; */
    & h2,
    p {
      max-width: 50%;
    }
  }
}
:is(.section-services, .section-testimonial, .section-contact) {
  & .container {
    &:first-child {
      padding-bottom: 4rem;
    }
    &:last-child {
      padding-top: 4rem;
    }
  }
}
.section-common--heading {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 4rem;
  text-transform: capitalize;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 6.5rem;
    left: 0;
    width: 1.6rem;
    aspect-ratio: 1;
    background-color: var(--helper);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  &::after {
    content: "";
    position: absolute;
    top: 7.1rem;
    left: 1.6rem;
    min-width: 40%;
    height: 0.3rem;
    background-color: var(--helper);
  }
}
.btn {
  background: var(--gradient-support);
  padding: 1.2rem 3.2rem;
  border: none;
  color: var(--helper-tint);
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.btn:hover,
.btn:active {
  box-shadow: var(--shadow-support);
}
.icon {
  width: 3.6rem;
  height: 3.6rem;
  background-color: var(--font-color);
  color: var(--heading);
  padding: 1rem 1.4rem;
  display: inline-block;
  position: relative;
  animation: icon-web 3s linear infinite;
  -webkit-animation: icon-web 3s linear infinite;
  border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  -webkit-border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  -moz-border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  -ms-border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  -o-border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;

  /* &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    background-color: transparent;
    border: 1px solid var(--black-color);
    animation: icon-web 3s linear infinite;
    -webkit-animation: icon-web 3s linear infinite;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  } */
}
@keyframes icon-web {
  0% {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  }
  50% {
    border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
  }
  100% {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  }
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
/***** End Global CSS *****/

/***** Start Header Section *****/
.section-header {
  width: 100%;
  background-color: var(--bg);

  & .mobile-menu--btns {
    display: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
    & .mobile-menu--icon {
      width: 3.3rem;
      height: 3rem;
    }
    & .close {
      display: none;
    }
  }
  & .container {
    padding: 1.5rem 6.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .nav-brand .logo-area {
      width: 24rem;
      height: 4.5rem;
      border: 2px solid #000;
      display: flex;
      justify-content: center;
      align-items: center;
      /* gap: 1rem; */
      & span {
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0.5rem 0.5rem;
      }

      & .first-name {
        background: var(--gradient);
        color: var(--white-color);
      }
      & .last-name {
        color: var(--menu-color);
      }
    }

    & .nav-menu ul {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 4rem;

      & li a {
        text-transform: uppercase;
        color: var(--menu-color);
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        transition: color 0.3s linear;
        -webkit-transition: color 0.3s linear;
        -moz-transition: color 0.3s linear;
        -ms-transition: color 0.3s linear;
        -o-transition: color 0.3s linear;
        &:hover {
          color: var(--helper);
        }
        &:active {
          color: var(--helper);
        }
      }
    }
  }
}
/* sticky Navbar */
.sticky .section-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 7.6rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
  z-index: 9999;
  padding-top: 0;
  padding-bottom: 0;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
/***** End Header Section *****/

/***** Start Hero Section *****/
.section-hero {
  background-color: var(--bg);
  & .grid {
    gap: 6.4rem;
  }
  & .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & .hero-subheading {
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 500;
      color: var(--helper);
    }
    & .hero-heading {
      color: var(--heading);
      font-size: 5.8rem;
      font-weight: 600;
      text-transform: uppercase;
    }
    & .hero-description {
      margin: 1.5rem 0 3.6rem 0;
      max-width: 56rem;
    }
  }
  & .hero-image {
    display: flex;
    justify-content: end;
    align-items: center;
    & img {
      width: 90%;
      height: auto;
      border: 2rem solid var(--helper);
      /* box-shadow: 2rem -2rem 0 var(--helper); */
    }
  }
}
/***** End Hero Section *****/

/***** Start Bio-data Section *****/
.section-bio {
  & .grid {
    gap: 6.4rem;

    & .bio-image {
      transform: scaleX(-1);
      display: flex;
      justify-content: end;
      align-items: center;
      & img {
        width: 90%;
        box-shadow: 2rem -2rem 0 var(--helper);
      }
    }

    & .bio-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.8rem;

      & .bio-stats {
        display: flex;
        flex-direction: column;
        gap: 2.8rem;
        padding: 2.4rem 0;
        margin-bottom: 1.6rem;
        & h3 {
          margin-bottom: 0.8rem;
        }
        & .bio-progress-bar {
          width: 100%;
          height: 0.8rem;
          background-color: var(--bg-support);
          position: relative;
          /* box-shadow: var(--shadow); */
          border-radius: 10rem;
          -webkit-border-radius: 10rem;
          -moz-border-radius: 10rem;
          -ms-border-radius: 10rem;
          -o-border-radius: 10rem;

          &::before {
            content: "";
            height: 0.8rem;
            position: absolute;
            left: 0;
            top: 0;
            background: var(--gradient-support);
            border-radius: 10rem;
            -webkit-border-radius: 10rem;
            -moz-border-radius: 10rem;
            -ms-border-radius: 10rem;
            -o-border-radius: 10rem;
          }

          & span {
            width: 4rem;
            height: 1.8rem;
            position: absolute;
            top: 1.8rem;
            color: var(--white-color);
            background-color: var(--helper);
            display: flex;
            justify-content: center;
            align-items: center;
            &::after {
              content: "";
              position: absolute;
              top: -1.6rem;
              width: 0;
              height: 0;
              border: 0.8rem solid transparent;
              border-bottom-color: var(--helper);
            }
          }
        }
        & .progress-1 {
          & span {
            left: 94%;
          }
          &::before {
            width: 98%;
          }
        }
        & .progress-2 {
          & span {
            left: 86%;
          }
          &::before {
            width: 90%;
          }
        }
        & .progress-3 {
          & span {
            left: 81%;
          }
          &::before {
            width: 85%;
          }
        }
        & .progress-4 {
          & span {
            left: 76%;
          }
          &::before {
            width: 80%;
          }
        }
        & .progress-5 {
          & span {
            left: 66%;
          }
          &::before {
            width: 70%;
          }
        }
      }
    }
  }
}
/***** End Bio-data Section *****/

/***** Start Portfolio Section *****/
.section-portfolio {
  background-color: var(--bg);

  & .filter-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 0 2rem;
    & button {
      min-width: 15rem;
    }
    & .btn-active {
      transform: translateY(-1rem);
      -webkit-transform: translateY(-1rem);
      -moz-transform: translateY(-1rem);
      -ms-transform: translateY(-1rem);
      -o-transform: translateY(-1rem);
    }
  }

  & .grid {
    gap: 2.4rem;

    & .image-overlay {
      max-height: 26rem;
      overflow: hidden;
      position: relative;
      transition: all 0.3s linear;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      &:hover > .overlay {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
      }
      & img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
      }
      & .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--gradient-2);
        opacity: 0.9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.6rem;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;

        & * {
          color: var(--white-color);
          font-weight: 600;
        }
        & p {
          min-height: 10rem;
          font-weight: 500;
          text-align: center;
          padding: 0 1rem;
        }
        & h3 {
          font-size: 2rem;
          text-transform: uppercase;
        }
        & .portfolio-links a {
          display: inline-block;
          padding: 1rem 3rem;
          background: var(--helper);
          text-transform: capitalize;
          cursor: pointer;
          margin: 0 1rem;
          border: 0.1rem solid var(--white-color);
          border-radius: 0.3rem;
          -webkit-border-radius: 0.3rem;
          -moz-border-radius: 0.3rem;
          -ms-border-radius: 0.3rem;
          -o-border-radius: 0.3rem;
        }
      }
    }
    & .overlay-hidden {
      display: none;
    }
    & .overlay-visible {
      display: block;
    }
  }
}
/***** End Portfolio Section *****/

/***** Start Counter Section *****/
.section-counter {
  background: var(--gradient-support);
  color: var(--white-color);
  text-align: center;
  transition: all 0.7s linear;
  -webkit-transition: all 0.7s linear;
  -moz-transition: all 0.7s linear;
  -ms-transition: all 0.7s linear;
  -o-transition: all 0.7s linear;
  & .grid {
    gap: 2.4rem;

    & .counter-number {
      font-size: 4rem;
    }
    & .counter p {
      color: var(--white-color);
      text-transform: capitalize;
    }
  }
}
/***** End Counter Section *****/

/***** Start Services Section *****/
.section-services {
  & .container {
    &:first-child {
      padding-bottom: 4rem;
    }
    &:last-child {
      padding-top: 4rem;
    }
  }
  & .grid {
    gap: 6rem;
    & .service-card {
      box-shadow: var(--shadow);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 3.6rem 2.2rem;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      transition: all 0.3s linear;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;

      &:hover {
        transform: translateY(-3rem);
        -webkit-transform: translateY(-3rem);
        -moz-transform: translateY(-3rem);
        -ms-transform: translateY(-3rem);
        -o-transform: translateY(-3rem);
      }
      & h3 {
        font-size: 2rem;
        margin: 2.4rem 0 1rem 0;
      }
    }
  }
}
/***** End Services Section *****/

/***** Start Resume Section *****/
.section-resume {
  background: var(--bg);
  & .grid {
    & .resume-img {
      display: flex;
      align-items: center;
      justify-content: end;
      transform: scaleX(-1);
      & img {
        box-shadow: 2rem 2rem 0px var(--helper);
      }
    }

    & .resume-content {
      & .resume-para {
        font-size: 2.4rem;
        text-transform: capitalize;
        color: var(--heading);
        padding-top: 2.6rem;
        font-weight: 500;
      }

      & .resume-content--subsection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.8rem;
        margin-top: 2.6rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid var(--para-tint);

        & .resume-content--left {
          display: flex;
          flex-direction: column;
          gap: 1.4rem;
          & h3 {
            font-size: 1.7rem;
            font-weight: 500;
            color: var(--heading);
          }
          & p {
            display: flex;
            align-items: center;
            gap: 0.5rem;
          }
          & .grid {
            gap: 1.8rem;
          }
        }

        & .resume-content--right {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          gap: 1rem;

          & p {
            display: flex;
            align-items: center;
            gap: 0.5rem;
          }
          & .resume-content--button {
            font-size: 1.3rem;
            text-transform: uppercase;
            color: var(--helper);
            padding: 0.3rem 0;
            min-width: 50%;
            background: var(--helper-tint);
            border-radius: 10rem;
            justify-content: center;
            margin-bottom: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      & .resume-content--bottom-subsection {
        & .resume-para {
          margin-top: 2rem;
        }
      }
    }
  }
}
/***** End Resume Section *****/

/***** Start Testimonial Section *****/
.section-testimonial {
  & .client-msg {
    text-align: left;
    padding: 4rem 9rem;
    background-color: var(--white-color);
    box-shadow: var(--shadow);
    position: relative;

    & p::before {
      content: "\f10d";
      position: absolute;
      top: 0rem;
      left: 3rem;
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      color: var(--font-color);
      font-size: 4.6rem;
    }
    & p::after {
      content: "\f10e";
      position: absolute;
      bottom: 0rem;
      right: 3rem;
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      color: var(--font-color);
      font-size: 4.6rem;
    }
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -7rem;
      width: 0;
      height: 0;
      border: 3.6rem solid transparent;
      border-top-color: var(--helper-tint);
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
    }
  }
  & .client-data {
    margin-top: 2.4rem;
    align-items: center;
    justify-content: center;

    & figure {
      display: flex;
      justify-content: center;
      align-items: center;
      & img {
        width: 8rem;
        height: 8rem;
        border: 1px solid var(--helper-tint);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }

    & .client-info {
      padding-left: 1rem;
      & p:first-child {
        text-transform: capitalize;
        font-weight: 500;
        color: var(--heading);
      }
    }
  }
}

/* swiper slider */
.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 4rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/***** End Testimonial Section *****/
/***** Start Freelancing Section *****/
.section-freelancing {
  background-image: url("../images/folio/3.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  position: relative;
  color: var(--white-color);
  text-align: center;

  & .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-overlay);
    opacity: 0.7;
  }

  & .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h2 {
      font-size: 6rem;
      & span {
        color: #a0f669;
        font-family: "Poppins", sans-serif;
      }
    }
    & p {
      color: var(--white-color);
      font-size: 2rem;
      margin: 0 0 3.4rem 0;
    }
  }
}
/***** End Freelancing Section *****/
/***** Start Contact Section *****/
.section-contact {
  & .form-container {
    max-width: 70rem;
    & form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3.4rem;

      & .grid {
        gap: 3.4rem;
      }

      & .btn-submit {
        width: 30%;
        text-align: center;
        padding: 1.2rem 1.2rem;
      }
    }
  }
}
/***** End Contact Section *****/
/***** Start Footer Section *****/
.section-footer {
  background-color: var(--heading);

  & p,
  li,
  a {
    color: var(--footer-para);
    font-size: 1.8rem;
    line-height: 1.8;
  }
  & a:hover {
    color: var(--white-color);
  }

  & .grid {
    gap: 6.4rem;
    padding-bottom: 1rem;

    & h3 {
      color: var(--white-color);
      font-size: 2rem;
      font-weight: 500;
      padding: 2.4rem 0;
    }

    & .footer-links ul,
    .footer-services ul,
    .footer-mailing address {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      & span {
        padding-right: 0.5rem;
      }
    }
    & .footer-mailing {
      & p {
        font-style: normal;

        & a {
          font-style: italic;
          color: var(--bg-overlay);
          &:hover {
            color: var(--white-color);
          }
        }
      }
    }
  }

  & .footer-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
    padding: 3.4rem 6.4rem;
    & .footer-social {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      & .icon {
        background-color: var(--bg-icon);
        color: var(--white-color);
      }
    }
    & .footer-credits p {
      text-align: center;
    }
  }
}
/***** End Footer Section *****/

/* home navigator */
.navigate-home {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  & .icon {
    background-color: var(--helper);
    color: var(--white-color);
    width: 2rem;
    height: 2rem;
  }
}
/***** Media queries *****/
@media (max-width: 1400px) {
  .container {
    max-width: 120rem;
    padding: 8.4rem 5.4rem;
  }
  .section-resume {
    & .resume-img img {
      width: 90%;
    }
    & .resume-content--left,
    .resume-content--right {
      & p {
        font-size: 1.5rem;
      }
    }
  }
  .section-footer .grid-four--cols {
    gap: 5rem;
  }
  .portfolio-links a {
    padding: 1rem 1rem !important;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 112rem;
  }
  :is(
      .section-services,
      .section-portfolio,
      .section-testimonial,
      .section-contact
    ) {
    & .container:first-child {
      /* padding-bottom: 4rem; */
      & h2,
      p {
        max-width: 70%;
      }
    }
  }
  .section-resume {
    & .grid {
      & .resume-content {
        & .resume-content--subsection {
          gap: 0.3rem;

          & .resume-content--left,
          .resume-content--right {
            & p {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }

  .section-footer .grid-four--cols {
    /* grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr)); */
    gap: 4rem;
    & p,
    li,
    a {
      font-size: 1.6rem;
    }
  }
}
@media (max-width: 1100px) {
  /* html {
    font-size: 56.25%;
  } */
  .container {
    width: 100rem;
  }
  .image-overlay .overlay {
    gap: 1rem !important;
  }

  .grid-three--cols {
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  }
  .portfolio-links a {
    margin: 0 !important;
  }

  .service-card {
    padding: 2rem 1.3rem !important;
  }
  .section-freelancing {
    & .container {
      & h2 {
        font-size: 5rem;
      }
      & p {
        font-size: 1.8rem;
      }
    }
  }
  .section-resume {
    & .grid {
      & .resume-content {
        & .resume-content--subsection {
          align-items: end;
          & .resume-content--left,
          .resume-content--right {
            & .grid {
              grid-template-columns: 1fr;
            }
            & p {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
  .section-footer .grid-four--cols {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
  .section-footer .grid-four--cols .footer-about {
    grid-area: 1/1/2/5;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 78rem;
    padding: 6.4rem 4.4rem;
  }
  :is(
      .section-services,
      .section-portfolio,
      .section-testimonial,
      .section-contact
    ) {
    & .container:first-child {
      /* padding-bottom: 4rem; */
      & h2,
      p {
        max-width: 100%;
      }
    }
  }
  .hero-heading {
    color: var(--heading);
    font-size: 4.8rem !important;
    font-weight: 500 !important;
  }
  .section-common--heading {
    font-size: 3.5rem;
    font-weight: 500;
  }
  .grid-four--cols {
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  }
  .section-footer .grid-four--cols {
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  }
  .section-footer .grid-four--cols .footer-about {
    grid-area: 1/1/2/2;
  }
  /* mobile menu */
  .section-header {
    position: relative;

    & .container {
      padding: 1.5rem 3.4rem;
      & .nav-menu {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background: var(--gradient);
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        z-index: 999;
        & .navbar-lists {
          flex-direction: column;
          align-items: center;
          & li a {
            font-size: 2rem;
            &:hover {
              color: var(--white-color);
            }
          }
        }
      }
      /* & .nav-brand {
        z-index: 9999;
      } */
      & .mobile-menu--btns {
        display: block;
        z-index: 9999;
        border: 0.2rem solid var(--heading);
        color: var(--heading);
      }
    }
  }

  .section-header {
    & .active {
      & .nav-menu {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        /* transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear; */
      }

      & .mobile-menu--btns {
        & .menu {
          display: none;
        }
        & .close {
          display: block;
        }
      }
    }
  }

  .section-bio {
    & .grid-two--cols {
      grid-template-columns: 1fr;
      & .bio-image {
        display: none;
      }
    }
  }
  .section-freelancing {
    & .container {
      & h2 {
        font-size: 5rem;
        font-weight: 600;
      }
      & p {
        font-size: 1.8rem;
      }
    }
  }
  .section-resume {
    & .grid-two--cols {
      grid-template-columns: 1fr;
      & .resume-img {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 60rem;
    padding: 4.4rem 3.4rem;
  }
  .grid-two--cols {
    grid-template-columns: 1fr;
  }
  .grid-four--cols {
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  }

  .section-hero {
    text-align: center;
  }
  .hero-description {
    max-width: 100% !important;
    /* padding: 0 1rem; */
  }
  .hero-image {
    justify-content: center !important;
    & img {
      width: 60% !important;
    }
  }

  .section-portfolio .filter-buttons {
    & .btn-active {
      box-shadow: var(--shadow-support);

      transform: translateY(-0.5rem);
      -webkit-transform: translateY(-0.5rem);
      -moz-transform: translateY(-0.5rem);
      -ms-transform: translateY(-0.5rem);
      -o-transform: translateY(-0.5rem);
    }
  }
  .section-contact {
    & .form-container {
      max-width: 56rem;
      & form {
        & .btn-submit {
          width: 35%;
        }
      }
    }
  }
  .section-footer .grid-four--cols {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 52rem;
    padding: 4.4rem 3.4rem;
  }

  .section-footer .grid-four--cols {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
  .section-testimonial {
    & .client-msg {
      padding: 4rem 5rem;

      & p::before {
        font-size: 2.6rem;
      }
      & p::after {
        font-size: 2.6rem;
      }
    }
  }
  .section-contact {
    & .form-container {
      max-width: 48rem;
      & form {
        & .btn-submit {
          width: 40%;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  html {
    font-size: 56.25%;
  }
  .container {
    max-width: 40rem;
    padding: 4.4rem 3.4rem;
  }
  .grid-four--cols {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }

  .resume-content--subsection {
    flex-direction: column;
    align-items: start !important;
    gap: 2rem !important;
    & .resume-content--left {
      & .grid {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
      }
    }
    & .resume-content--right {
      /* flex-direction: row !important; */
      align-items: start !important;
      width: 100%;
      & .resume-content--button {
        /* background: none !important; */
        /* padding: 0 !important; */
        /* justify-content: start !important; */
        color: var(--para) !important;
        border: 0.1rem solid var(--bg-icon);
      }
    }
  }
  .section-contact {
    & .form-container {
      max-width: 36rem;
      & form {
        & .btn-submit {
          width: 100%;
        }
      }
    }
  }
  .footer-about {
    width: 80%;
    text-align: justify;
  }
}
/***** End Media queries *****/
