* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: rgb(18, 16, 16);
}

.loader {
  width: 18rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #754cf0;
  position: relative;
  animation: circleloader 2s linear infinite reverse;
  -webkit-animation: circleloader 1.5s linear infinite reverse;
}
.loader::before {
  content: "";
  width: 16rem;
  position: absolute;
  aspect-ratio: 1;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: rgb(18, 16, 16);
}

.loader::after {
  content: "";
  width: 5rem;
  position: absolute;
  aspect-ratio: 1;
  top: -1.5rem;
  left: 8rem;
  border-radius: 50%;
  background-color: #754cf0;
  box-shadow: 0px 0px 1.5rem #754cf0, 0px 0px 1.5rem #754cf0,
    0px 0px 2rem #754cf0, 0px 0px 2.5rem #754cf0, 0px 0px 3rem #754cf0;
}

@keyframes circleloader {
  100% {
    rotate: 360deg;
  }
}
